version: "3.9"
services:
  rabbit:
    image: rabbitmq:3-management
    container_name: lms-rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest